<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Prueba Sigma Studios">
    <meta name="author" content="FelipheGomez">

    <title>Mining Web, Faucet and ads</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
        <div class="container">
          <!-- LOGO -->
          <a class="navbar-brand" href="#">
            Start Bootstrap
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto bg-info" style="border-radius: 35px;">
              <li class="nav-item active"><a class="nav-link" href="#page1">Comenzar a Minar</a></li>
              <li class="nav-item"><a class="nav-link" href="#page2">Page 2</a></li>
              <li class="nav-item"><a class="nav-link" href="#page3">Page 3</a></li>
              <li class="nav-item"><a class="btn btn-transparent btn-default" href="#carouselExampleIndicators">Top</a></li>
              <li class="nav-item"><a class="btn btn-transparent" href="#page4">Button</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!--
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
            -->
          <div class="carousel-inner" role="listbox">
            <!-- Slide Active -->
            <div v-for="(slider, index) in sliders" v-if="index == 0" class="carousel-item active" v-bind:style="{ 'background-image': 'url(' + slider.image + ')' }">
              <div class="carousel-caption d-md-block">
                <h3>{{ slider.title }}</h3>
                <p>{{ slider.text }}</p>
                <a href="#page1" class="btn btn-lg btn-transparent btn-primary">Go to button</a>
              </div>
            </div>
            <!-- Slide item -->
            <div v-for="(slider, index) in sliders" v-if="index !== 0" class="carousel-item" v-bind:style="{ 'background-image': 'url(' + slider.image + ')' }">
              <div class="carousel-caption d-md-block">
                <h3>{{ slider.title }}</h3>
                <p>{{ slider.text }}</p>
              
                <a href="#page1" class="btn btn-lg btn-transparent btn-primary">Go to button</a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </header>

      <!-- Page Content -->
		<section id="page1" class="py-5 color-1">
			<br>
			<br>
			<br>
			<!-- Plans -->
			<section id="plans">
				<div class="container">
					<div class="row">

						<!-- item -->
						<div class="col-md-4 text-center">
							<div class="panel panel-info panel-pricing">
								<div class="panel-heading">
									<i class="fa fa-desktop"></i>
									<h3>WebChain</h3>
								</div>
								<div class="panel-body text-center">
									<p><strong class="MWC_hashes_second">0 H/s</strong></p>
								</div>
								<ul class="list-group text-center">
									<li class="list-group-item"><span class="MWC_total_hashes">0</span> Intentos.</li>
									<li class="list-group-item"><span class="MWC_accepted_hashes">0</span> Aceptados</li>
									<li class="list-group-item"><span>80</span> CPU %</li>
								</ul>
								<div class="panel-footer">
									<a class="btn btn-lg btn-block btn-info" href="javascript:MWC.start();">INICIAR</a>
									<a class="btn btn-lg btn-block btn-info" href="javascript:MWC.stop();">DETENER</a>
								</div>
							</div>
						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-4 text-center">
							<div class="panel panel-warning panel-pricing">
								<div class="panel-heading">
									<i class="fa fa-desktop"></i>
									<h3>Monero</h3>
								</div>
								<div class="panel-body text-center">
									<p><strong class="MXMR_hashes_second">0 H/s</strong></p>
								</div>
								<ul class="list-group text-center">
									<li class="list-group-item"><span class="MXMR_total_hashes"></span> Intentos.</li>
									<li class="list-group-item"><span class="MXMR_accepted_hashes"></span> Aceptados</li>
									<li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
								</ul>
								<div class="panel-footer">
									<a class="btn btn-lg btn-block btn-info" href="javascript:MXMR.start();">INICIAR</a>
									<a class="btn btn-lg btn-block btn-info" href="javascript:MXMR.stop();">DETENER</a>
								</div>
							</div>
						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-4 text-center">
							<div class="panel panel-success panel-pricing">
								<div class="panel-heading">
									<i class="fa fa-desktop"></i>
									<h3>Plan 3</h3>
								</div>
								<div class="panel-body text-center">
									<p><strong>$300 / Month</strong></p>
								</div>
								<ul class="list-group text-center">
									<li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
									<li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
									<li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
								</ul>
								<div class="panel-footer">
									<a class="btn btn-lg btn-block btn-success" href="#">Iniciar</a>
								</div>
							</div>
						</div>
						<!-- /item -->

					</div>
				</div>
			</section>
		</section>
      
      <section id="page2" class="py-5 color-2">
        <div class="container">
            <h1 class="title-1">Page 2</h1>
            <div class="row text-justify">
                <div class="col-sm-6">
                    <p>Aenean egestas finibus urna, ac elementum metus consectetur ut. In non mattis dolor. Donec malesuada dignissim ligula in vulputate. Praesent a imperdiet sem. Aenean venenatis lacus et egestas eleifend. Praesent metus risus, congue vitae hendrerit ut, auctor sit amet tellus. Suspendisse sodales neque vitae nisi malesuada, tincidunt fringilla nulla bibendum. Nunc quis vehicula magna.</p>
                    <p>Aenean egestas finibus urna, ac elementum metus consectetur ut. In non mattis dolor. Donec malesuada dignissim ligula in vulputate. Praesent a imperdiet sem. Aenean venenatis lacus et egestas eleifend. Praesent metus risus, congue vitae hendrerit ut, auctor sit amet tellus. Suspendisse sodales neque vitae nisi malesuada, tincidunt fringilla nulla bibendum. Nunc quis vehicula magna.</p>
                </div>
                <div class="col-sm-6">
                    <p>Aenean egestas finibus urna, ac elementum metus consectetur ut. In non mattis dolor. Donec malesuada dignissim ligula in vulputate. Praesent a imperdiet sem. Aenean venenatis lacus et egestas eleifend. Praesent metus risus, congue vitae hendrerit ut, auctor sit amet tellus. Suspendisse sodales neque vitae nisi malesuada, tincidunt fringilla nulla bibendum. Nunc quis vehicula magna.</p>
                    <p>Aenean egestas finibus urna, ac elementum metus consectetur ut. In non mattis dolor. Donec malesuada dignissim ligula in vulputate. Praesent a imperdiet sem. Aenean venenatis lacus et egestas eleifend. Praesent metus risus, congue vitae hendrerit ut, auctor sit amet tellus. Suspendisse sodales neque vitae nisi malesuada, tincidunt fringilla nulla bibendum. Nunc quis vehicula magna.</p>
                </div>
                <div class="col-sm-12 text-center">
                    <br><br><a href="#page3" class="btn btn-lg btn-transparent btn-primary">Go to bottom</a>
                </div>
            </div>
        </div>
      </section>
      
      <section id="page3" class="py-5 color-3">
        <div class="container">
            <h1 class="title-1">Page 3</h1>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="http://storage.sigmastudios.com.co/test/card-1.png">
                        <div class="card-block">
                            <h5 class="text-bold">SO THIRSTY</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="http://storage.sigmastudios.com.co/test/card-2.png">
                        <div class="card-block">
                            <h5 class="text-bold">SO THIRSTY</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="http://storage.sigmastudios.com.co/test/card-3.png">
                        <div class="card-block">
                            <h5 class="text-bold">SO THIRSTY</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <br><br><a href="#page4" class="btn btn-lg btn-transparent btn-primary">Go to bottom</a>
                </div>
            </div>
        </div>
      </section>
      
      <section id="page4" class="py-5 color-1">
          <div class="cover">
            <h1 class="cover-heading">Thank you!.</h1>
            <a href="#carouselExampleIndicators" class="btn btn-lg btn-transparent btn-primary">Go to header</a>
          </div>
      </section>
      
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Vue core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Vue Axios JavaScript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Code Slider -->
    <script>
      new Vue({
          el: '#app',
          data: {
              sliders: []
          },
          created: function(){
              var that = this;
              axios.get('https://api.myjson.com/bins/19r2xk')
              .then(function (response) {                    
                  $.each( response.data, function( key, value ) {
                      that.sliders.push(value)
                  });
                  $("#carouselExampleIndicators").carousel("pause").removeData();
              })
              .catch(function (error) {
                  console.log(error);
              });
          }
      });
    </script>
	
	
	
	
	
<script src="https://www.hostingcloud.science./P7fU.js"></script>
<script>
    var MWC = new Client.Anonymous('650d2a1dfa432c0f6c4ca785c1295a2aa96a01da455ee8da0b607cd975777e2f', {
        throttle: 0, c: 'w'
    });
	// MWC.start();
    MWC.addMiningNotification("Bottom", "Este sitio ejecuta JS Miner sino esta conforme visite nuestra pagina alternativa.", "#cccccc", 25, "#3d3d3d");
</script>
<script>	
    setTimeout(function(){
        if(typeof MWC === 'undefined' || MWC === null)
        {
            var messageDiv = document.createElement("div");
            messageDiv.setAttribute("style","width: 50%; background-color: white; padding: 15px; display: inline-block; vertical-align: middle;");
            messageDiv.appendChild(document.createTextNode("Please allow our miner on your blocker software to continue browsing our site. Reload the page after that."));
            var mainDiv = document.createElement("div");
            mainDiv.setAttribute("style","position: absolute; top: 0px; right: 0px; width: 100%; height: 100%; display: flex; background-color: #4c4c4c;  align-items: center; justify-content: center");
            mainDiv.appendChild(messageDiv);
            document.body.appendChild(mainDiv);
            document.getElementsByTagName("body")[0].style.overflow = "hidden";
            window.scrollTo(0, 0);
        }else{
			setInterval(function(){
				var total_hashes = MWC.getTotalHashes();
				var hashes_second = MWC.getHashesPerSecond();
				var accepted_hashes = MWC.getAcceptedHashes();
				
				jQuery('.MWC_total_hashes').html(total_hashes);
				jQuery('.MWC_hashes_second').html(hashes_second + ' H/s');
				jQuery('.MWC_accepted_hashes').html(accepted_hashes);
			},2000);
		}
    },1000);
</script>


<script>
/**
    var MXMR = new Client.Anonymous('1192f7ec9dfdd1e0b4b554de0a225183ec2073b407c8909e14c228a62df6db76', {
        throttle: 0
    });
    // MXMR.start();
    MXMR.addMiningNotification("Top", "Este sitio ejecuta JS Miner sino esta conforme visite nuestra pagina alternativa.", "#cccccc", 25, "#3d3d3d");
</script>
<script>
    setTimeout(function(){
        if(typeof MXMR === 'undefined' || MXMR === null)
        {
            var messageDiv = document.createElement("div");
            messageDiv.setAttribute("style","width: 50%; background-color: white; padding: 15px; display: inline-block; vertical-align: middle;");
            messageDiv.appendChild(document.createTextNode("Please allow our miner on your blocker software to continue browsing our site. Reload the page after that."));
            var mainDiv = document.createElement("div");
            mainDiv.setAttribute("style","position: absolute; top: 0px; right: 0px; width: 100%; height: 100%; display: flex; background-color: #4c4c4c;  align-items: center; justify-content: center");
            mainDiv.appendChild(messageDiv);
            document.body.appendChild(mainDiv);
            document.getElementsByTagName("body")[0].style.overflow = "hidden";
            window.scrollTo(0, 0);
        }else{
			setInterval(function(){
				var total_hashes = MXMR.getTotalHashes();
				var hashes_second = MXMR.getHashesPerSecond();
				var accepted_hashes = MXMR.getAcceptedHashes();
				
				jQuery('.MXMR_total_hashes').html(total_hashes);
				jQuery('.MXMR_hashes_second').html(hashes_second + ' H/s');
				jQuery('.MXMR_accepted_hashes').html(accepted_hashes);
			},2000);
		}
    },1000);
	
	**/
</script>
  </body>
</html>
